{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %} 
  <h1>정보</h1>
  <div>
    <a href="{% url 'articles:index' %}">
      <button type="button" class="btn btn-primary">홈으로</button>
    </a>
    <a href="{% url 'articles:delete' article.pk %}">
      <button type="button" class="btn btn-danger">삭제하기</button>
    </a>
    <a href="{% url 'articles:update' article.pk %}">
      <button type="button" class="btn btn-primary">수정하기</button>
    </a>
  </div>
  <h1>{{ article.pk }}번 게시글</h1>
  <h2>{{ article.title }}</h2>
  <h3>{{ article.content }}</h3>
  {% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" height="300">
  {% endif %}

  <p>댓글 입력창</p>
  <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form layout='inline'%}
    {% bootstrap_button button_type="submit" content="등록" button_class="btn-primary" %}
  </form>
  <hr>

  <h1 class="mb-3">댓글 목록{% if comments %}
    -{{ comments|length }}개
  {% endif %}</h1>
  
  {% for comment in comments %}
    <div class="d-flex justify-content-start">
      <p>{{ comment.content }}</p>
      {% comment %} 댓글 삭제 버튼 {% endcomment %}
      <button type="submit" class="btn btn-outline-danger ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
      </button>
     
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">주의!</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>정말 삭제를 원하시나요?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">잘못눌렀어!</button>
              <a href="{% url 'articles:comments_delete' article.pk comment.pk %}">
                <button type="button" class="btn btn-primary">정말 삭제를 원해!</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

  {% empty %}
    <p>안녕하십니까? 댓글이 없는 곳에 번개처럼 나타나는 무플방지위원회입니다.
      <br>
      -무플방지위원회일동-
      <br>
      &nbsp;（｡･ω･｡)つ━☆・*。<br>
      ⊂ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ノ ・゜+.<br>
      &nbsp;&nbsp;しー&nbsp;Ｊ °。+ *
    </p>
  {% endfor %}
{% endblock body %}